old way alapuolella pitää keksiä parempi jossain kohtaa TODO :root {
  --main: #70c3ff;
  --secondary: #d6d6d6;
  --background: #ffffff;
  --text: #000000;
  --background2: #d6d6d650;
}

.Container {
  width: 100%;
  height: 100%;
  background-color: #d6d6d6;
}

.TopBar {
  display: flex;
  width: 100%;
  height: 50px;
  border: 3px solid #000000;
  top: 0px;
  flex-direction: row;
  justify-content: space-between;
  font-size: xx-large;
  background-color: #ffffff;
}

.MainContainer {
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.SideNavigation {
  width: 250px;
  height: 100%;
  border: 3px solid #000000;
  flex-direction: column;
  background-color: #ffffff;
}

.NavigationItem {
  display: flex;
  font-size: x-large;
  align-items: center;
  text-decoration: none;
  color: #000000;
  flex-direction: row;
}

.ActiveNavigationItem {
  color: #000000;
  text-decoration: none;
  background-color: #d6d6d6;
  width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.NonActiveNavigationItem {
  color: #000000;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.UserIcon {
  display: flex;
  background-color: #70c3ff;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

.DataContainer {
  margin: 20px;
}
