
#toCenter {
    padding-top: 15vh;;
}

.paper {
    width: 40vh;
    height: 50vh;
    padding: 3% 7%;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#login_text {
    flex-grow: 1;
    text-align: center;

}

.textField {
    flex-grow: 1;
    margin-top: 2vh;
}

#login_button {
    
    margin-top: 2vh;
    cursor: pointer;
}
#form {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

#to_register_button {
   flex-grow: 0;
    margin-top: 2vh;
    color: black;
    
}