.HistoryHeader {
  display: flex;
  justify-content: space-between;
  padding: 0% 5% 0 5%;
}

.ExercisesFlexBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-bottom: 2rem;
}

.DateFilterContainer {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 500px) {
  .DateFilterText {
    display: none;
  }
}
